@page
@model PrivacyModel
@{
    ViewData["Title"] = "Refrences";
}
<h1>@ViewData["Title"]</h1>

<p>Alemayehu, Nega and Peter Willett. “Stemming of Amharic Words for Information Retrieval.” Lit. Linguistic Comput. 17 (2002): 1-17.</p>
