@page
@model Stemmer.Pages.SearchResultModel
@{
}
<h3>Search Results for @Model.input</h3>
@if (@Model.documents.Count == 0)
{
    <p>ከምንም ሰነድ ጋር አልተዛመደም</p>
}
<ul>
@foreach(var document in @Model.documents)
{ 
    <li><a>@document.title</a></li>
}
</ul>

