@page
@model Stemmer.Pages.SearchModel

@{
    ViewData["Title"] = "Search";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .search-container {
            width: 100%;
            max-width: 600px;
            margin: 100px auto; /* Centers the container */
            background-color: #ffffff;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            border-radius: 12px;
            padding: 40px;
            text-align: center;
        }

        .search-input {
            width: 100%;
            padding: 15px 20px;
            border-radius: 50px;
            border: 1px solid #dddddd;
            font-size: 18px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: box-shadow 0.3s ease;
            margin-bottom: 20px;
        }

            .search-input:focus {
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
                outline: none;
            }

        .search-button {
            width: 100%;
            padding: 15px;
            background-color: #a02c2e;
            color: #ffffff;
            border: none;
            border-radius: 50px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

            .search-button:hover {
                background-color: #5f1b1b;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
            }
    </style>
</head>
<body>
    <div class="search-container">
        <h1>@ViewData["Title"]</h1>
        <form method="post" asp-page="SearchResult">
            <input type="text" asp-for="input!" name="input" class="search-input" placeholder="Search..." />
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
</body>
</html>
